<div class="loading" *ngIf="loading">Loading&#8230;</div>

<div class="container content">
  <div class="row">
    <div class="col">
      <div class="h1 text-center">
        HANGMAN
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <!-- <div class="col"> -->
      <div class="wrapper mx-auto">
        <div *ngIf="word.wrongLetters.size() > 0" class="head"></div>
        <div *ngIf="word.wrongLetters.size() > 1" class="torso"></div>
        <div *ngIf="word.wrongLetters.size() > 2" class="leftarm"></div>
        <div *ngIf="word.wrongLetters.size() > 3" class="rightarm"></div>
        <div *ngIf="word.wrongLetters.size() > 4" class="leftleg"></div>
        <div *ngIf="word.wrongLetters.size() > 4" class="leftfoot"></div>
        <div *ngIf="gameOver" class="rightleg"></div>
        <div *ngIf="gameOver" class="rightfoot"></div>
        <div class="img-wrapper">
          <img src="../assets/forca.gif" alt="">
        </div>
      </div>
  </div>
  <div class="row row-padding-top">
      <div *ngFor="let position of positions" class="position h1">
        {{word.word[position]}}
      </div>
  </div>

  <div class="row">
    <div *ngFor="let wrongLetter of word.wrongLetters" class="wrong h1">
      {{wrongLetter | uppercase}}
    </div>
  </div>
</div>
